*{
    text-decoration: none;
    list-style-type: none;
}
html{
    background-image:url("../zdj/tlo2.avif");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.banner img{
    max-width: 100%;
    height: auto;
    margin-left: 10%;
}
p{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}
.banner{
    width: 30%;
}
a{
    color: black;
    padding: 10px;
}
ul li{
    display: inline-block;
    list-style: none;
}
ul{
    padding: 0;
}
ul a:link, ul a:visited{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}
ul a:hover{
    background-color: rgba(129, 129, 129, 0.7);
    border-radius: 20px;
}
nav{
    width: 30%;
    padding-top: 30px;
}
main{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding-left: 2%;
    padding: 5px;
    margin-top: 10px;
}
footer{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding-left: 2%;
    padding: 5px;
    margin-top: 15px;
}
.stopa{
    text-align: center;
}

@media screen and (max-width: 480px) {
    ul li{
        display: inline-block;
        list-style: none;
        margin: 15px;
    }
    .banner img{
        width: 100%;
        height: auto;
        margin-left: 10%;
    }
    header{
        justify-content: space-between;
    }
    nav{
        width: 100%;
    }
}
@media screen and (max-width: 697px) and (min-width: 480px) {
    ul li{
        display: inline-block;
        list-style: none;
        margin: 15px;
    }
    .banner img{
        width: 90%;
        height: auto;
        margin-left: 10%;
    }
    header{
        justify-content: space-between;
    }
    nav{
        width: 100%;
    }
}
@media screen and (max-width: 710px) and (min-width: 697px) {
    ul li{
        display: inline-block;
        list-style: none;
        margin: 15px;
    }
    .banner img{
        width: 90%;
        height: auto;
        margin-left: 10%;
    }
    header{
        justify-content: space-between;
    }
    nav{
        width: 100%;
    }
}
@media screen and (max-width: 930px) and (min-width: 710px){
    .banner img{
        width: 80%;
        height: auto;
        margin-left: 10%;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (min-width: 930px){
    .banner img{
        width: 200px;
        height: auto;
        margin-left: 10%;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
}